---
layout: base
---
        <!-- Icons Grid-->
        <section class="features-icons text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-info"></i></div>
                            <h3>Clinical Informatics</h3>
                            <p class="lead mb-0">Industry leading expertise in openEHR strategy, analysis, design, development, governance and curation of openEHR clinical models. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-warning"></i></div>
                            <h3>Training and Mentoring</h3>
                            <p class="lead mb-0">Specialist training and practical mentoring for individuals and organisations expanding their knowledge and expertise in clinical informatics. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-secondary"></i></div>
                            <h3>Implementation support</h3>
                            <p class="lead mb-0">Our team can provide support with data and terminology mapping, data exchange and technical guidance for implementations across a range of technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Image Showcases-->
        <section class="showcase" id="what-we-do">     
            <div class="container-fluid p-0">
                <div class="row g-0 bg-primary text-white">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Shape your openEHR Strategy</h2>
                        <p class="lead mb-0">We offer over 30 years practical informatics experience in the field, with a solid background in front-line clinical practice and real world experience. We will help you shape your openEHR strategy and provide practical advice and guidance. </p>
                    </div>
                </div>
                <div class="row g-0 bg-secondary text-white">
                    <div class="col-lg-6 bg-dark text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Practical Design, Development, Training and Governance</h2>
                        <p class="lead mb-0">Our team can support you to design, develop and govern your clinical models, either with a fully managed service or through a skills transfer approach. We provide a wide range of approaches to suit your needs, including online training, face to face and mentoring approaches. </p>
                    </div>
                </div>
                <div class="row g-0 bg-warning text-white">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Navigate your Implementations</h2>
                        <p class="lead mb-0">Our team will support your implementations of standards/platfrom-based systems. We have extensive expertise in detailed clinical information modelling using archetype-based methodologies such as openEHR,  in conjunction with clinical terminologies such as SNOMED CT, dm+d and ICDxx, and data exchange standards such as HL7 V2, CDA  and HL7 FHIR.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Clients-->


        <section class="bg-white" id="clients">
            <div class="container py-8">
                <div class="row">
                    <div class="col-md-12 col-12">

                   <div class="pt-5 text-center pb-3">
                    <img src="./assets/img/icon-lg.png" height="30px">
                    <h2>Our partners</h2>
                     </div>
                  </div>
                </div>

                {% assign rows = site.partners.size | divided_by: 6.0 | ceil %}
                {% for i in (1..rows) %}
                
                <div class="row pb-5">

                    {% assign offset = forloop.index0 | times: 6 %}
                    {% for partner in site.partners limit:6 offset:offset %}

                    <!-- Client logo -->
                    <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-12">
                        <img src="{{ partner.img }}" width="120px" alt="{{ partner.alt }}" title="{{ partner.alt }}">
                    </div>

                    {% endfor %}
                </div>
                {% endfor %}
               </div>
        </section>

                <!-- Our team -->
                <section class="section text-center bg-grey" id="our-team">
                    <div class="container">
                        <img src="./assets/img/icon.png" height="30px">
                        <h2 class="mb-5">Meet our team...</h2>
                        <div class="row">
                            <div class="col-lg-2 offset-lg-1">
                                <div class="section-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="assets/img/IanMcNicoll_bw-300x280.jpg" alt="..." />
                                    <h5>Dr Ian McNicoll</h5>
                                    <p class="font-weight-light mb-0">Founder, Principal Health and Social Care Informatics Specialist Associate</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="section-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="assets/img/heidi.jpg" alt="..." />
                                    <h5>Heidi Koikkalainen</h5>
                                    <p class="font-weight-light mb-0">Director, Health and Social Care Informatics Specialist Associate</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="section-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="assets/img/joost.jpg" alt="..." />
                                    <h5>Dr. Joost Holslag</h5>
                                    <p class="font-weight-light mb-0">Health and Social Care Informatics Specialist Associate</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="section-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="assets/img/david.jpg" alt="..." />
                                    <h5>David Jobling</h5>
                                    <p class="font-weight-light mb-0">Director, Health and Social Care Informatics Specialist Associate</p>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="section-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="assets/img/jill.jpg" alt="..." />
                                    <h5>Jill Riley</h5>
                                    <p class="font-weight-light mb-0">Senior Business Support and Administration</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>