<section class="call-to-action text-white text-center" id="signup">
                    <div class="container position-relative">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <!--<h2 class="mb-4">Ready to get started? Contact us now!</h2>
                                <!-- Signup form
                                <!-- * * * * * * * * * * * * * * *
                                <!-- * * SB Forms Contact Form * *
                                <!-- * * * * * * * * * * * * * * *
                                <!-- This form is pre-integrated with SB Forms.
                                <!-- To make this form functional, sign up at
                                <!-- https://startbootstrap.com/solution/contact-forms
                                <!-- to get an API token!
                                <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                                    <!-- Email address input
                                    <div class="row">
                                        <div class="col">
                                            <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                        </div>
                                        <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                                    </div>
                                    <!-- Submit success message
                                    <!--
                                    <!-- This is what your users will see when the form
                                    <!-- has successfully submitted
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Form submission successful!</div>
                                            <p>To activate this form, sign up at</p>
                                            <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                        </div>
                                    </div>
                                    <!-- Submit error message
                                    <!--
                                    <!-- This is what your users will see when there is
                                    <!-- an error submitting the form
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                </form>-->
                            </div>
                        </div>
                    </div>
                </section>
        <!-- Footer-->
        <footer class="footer bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center" style="padding-bottom:30px">
                        <small style="font-size: 0.65rem;">freshEHR Clinical Informatics Ltd (registration number 08989238)</br> 
            Our registered address is freshEHR c/o Unit 8, Twisleton Court, Priory Hill, Dartford DA1 2EN</br>
            This website is copyright © freshEHR Clinical Informatics Ltd {{ site.time | date: '%Y' }}<br>
            openEHR™ is a Trademark of the openEHR Foundation {{ site.time | date: '%Y' }}<br>        
            freshEHR Clinical Informatics Ltd is not responsible for content found on external sites, linked from this website.</small>
                        <div></div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 h-100 text-center my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="./#about">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="mailto:contact@fresher.com">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{{ './privacy/' }}">Privacy & Cookie Policy</a></li>
                            <li class="list-inline-item me-4"><a href="https://twitter.com/freshehr" target="_blank"><i class="bi-twitter fs-3"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/10361651/" target="_blank"><i class="bi-linkedin fs-3"></i></a></li>
                        </ul>   
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./js/scripts.js"></script>
    </body>
</html>