<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <img src="./assets/img/icon-lg.png" height="80px"><br><br>
                    <h1 class="mb-14">Open standards based health and social care informatics consultancy</b></h1><br>
                    <h4 class="mb-5">openEHR and HL7 FHIR clinical informatics expertise for building modern health and care systems</h4>
                </div>
            </div>
        </div>
    </div>
</header>