<!-- Navigation-->
<nav class="navbar navbar-expand-lg fixed-top bg-white navbar-light text-primary" aria-label="navigation-bar">
    <div class="container-fluid">
      <a class="navbar-brand" href="./#"><img class="me-auto" src="./assets/img/freshehr-logo-2.png" height="75px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#about">About</a>
          </li>
          <div class="vr"></div>
          <li class="nav-item">
            <a class="nav-link" href="/#what-we-do">What we do</a>
          </li>
          <div class="vr"></div>
          <li class="nav-item">
            <a class="nav-link" href="/#clients">Our clients</a>
          </li>
          <!--<div class="vr"></div>
          <li class="nav-item">
            <a class="nav-link" href="{{ '/training/' }}">Training</a>
          </li>-->
          <div class="vr"></div>
          <li class="nav-item">
            <a class="nav-link" href="/#our-team">Our team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>